{% extends "villonaco/base.html" %}
{% load staticfiles %}
{% block title %}
  Restablecer contraseña                                          
{% endblock title%}
{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles-login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles-light.css' %}">
{% endblock estilos %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block contenido1 %}
<div class="logmod">
  	 <div class="logmod__wrapper">
	  <span class="logmod__close">Close</span>
		<div class="logmod__container">
		<h2 class="title">Recuperar Contraseña</h2>
		<div class="logmod__heading">
		          <span class="logmod__heading-subtitle">Ingrese su correo<strong> para recuperar su contraseña</strong></span>
		        </div>
		        <div class="logmod__form">
		            <div class="sminputs">
		              <div class="input full">
						<form method="post" action=".">
						  {% csrf_token %} 
						  {{ form|crispy }}	
						 
				  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Enviar' %}" />
				
				</form>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
{% endblock %}