{% extends 'villonaco/base.html' %}
{% load staticfiles %}
{% block title %}
Inicio
{% endblock title%}
{% block scripts %}
	

{% endblock scripts %}

{% block body %}
 <body class="home-page-1">
	<div class="main-wrapper">

	{% block header %}
		<header id="main-header">
			<div class="inner-container container">
				<div class="l-sec col-xs-8 col-sm-6 col-md-3">
					<a href="#" id="t-logo">
						<img align= "right" class="img-responsive" src="{% static 'img/logo/logo.jpeg'%}">
					</a>
				</div>
				<div class="r-sec col-xs-4 col-sm-6 col-md-9">
					<nav id="main-menu">
						<ul class="list-inline">
							<li class="active"><a href="/">Inicio</a> </li>
							<li><a href="{% url 'quienes_somos' %}">Eventos</a> </li>
							<li><a href="{% url 'habitaciones' %}">Agendas</a> </li>
							<li><a href="{% url 'galeria' %}">Galería</a> </li>
							<li ><a href="{% url 'contactos' %}">Contactos</a></li>	
						</ul>
					</nav>
					<div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class=" fa fa-close"></i></div>
					{% if user.is_authenticated %}
					<a href="/accounts/logout" id="header-book-bow" class="ravis-btn btn-type-2">
					<i class="glyphicon glyphicon-log-out"></i>
					<span>Cerrar Sesion</span> 
					</a>
					{% else %}
					<a href="{% url 'disponibilidad' %}" id="header-book-bow" class="ravis-btn btn-type-2">
					<span>Iniciar Sesion</span> 
					<i class="fa fa-calendar"></i>
					</a>
					{% endif %}
				</div>
			</div>
			<div id="mobile-menu-container"></div>
		</header>
	{% endblock header %}
	
		
	{% block slider %}
			<div class="slider-available-sec">
			<!-- Main Slider -->

			<section id="main-slider">

				<div class="items">
					<div class="img-container" data-bg-img="{% static 'img/galeria/gal6.jpg' %}"></div>
					
					<div class="slide-caption">
						<div class="inner-container clearfix">
							<div class="up-sec">Iglesia Fuego Santo</div>
							<div class="down-sec">"Iglesia Cristiana"</div>
						</div>
					</div>
				</div>
				<div class="items">
					<div class="img-container" data-bg-img="{% static 'img/galeria/gal5.jpg' %}"></div>
					<div class="slide-caption">
						<div class="inner-container clearfix">
							<div class="up-sec">La mejor atención </div>
							<div class="down-sec">Siéntete como en casa</div>
						</div>
					</div>
				</div>
				<div class="items">
					<div class="img-container" data-bg-img="{% static 'img/galeria/gal4.jpg' %}"></div>
					<div class="slide-caption">
						<div class="inner-container clearfix">
							<div class="up-sec">Habitaciones</div>
							<div class="down-sec">Cómodas y Confortables</div>
						</div>
					</div>
				</div>
				<div class="items">	
					<div class="img-container" data-bg-img="{% static 'img/logo_fuego_santo.jpg' %}"></div>
					<div class="slide-caption">
						<div class="inner-container clearfix">
							<div class="up-sec">Alojamiento</div>
							<div class="down-sec">Confortable y Satisfactorio</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End of Main Slider -->
		</div>
			
		
	{% endblock slider %}

	{% block contenido1 %}
	<section id="main-availability-form">
				<!--<div class="inner-container container">
					<div class="l-sec col-md-8">
						<div class="ravis-title">
							<div class="inner-box">
								<div class="title">Encuentra una habitación</div>
								<div class="sub-title">Cuando deseas visitarnos</div>
							</div>
						</div>
					</div>
					<div class="r-sec col-md-4">
						<form class="booking-form clearfix" action="{% url 'disponibilidad'%}">  Do Not remove the classes -->
						<!--	<div class="col-md-3">
								<button type="submit" class="ravis-btn btn-type-1">
									<span class="inner-box">
										Reserva ahora
									</span>
								</button>
							</div>
						</form>-->
						

					</div>
				</div>
			</section>
	{% endblock contenido1 %}
	{% block contenido2 %}
		<!--Welcome Section-->
		<section id="welcome-section">
			<div class="inner-container container">
				<div class="l-sec col-md-7">
					<div class="ravis-title-t-1">
				
						<div class="title"><span>Iglesia Fuego Santo</span></div>
						<!--<div class="sub-title">Tu segundo hogar en Loja</div>-->
					</div>
					<div class="content">
						Lorem Ipsum es simplemente un texto ficticio de la industria de impresión y composición tipográfica. Lorem Ipsum ha sido el texto ficticio estándar de la industria desde el año 1500, cuando una impresora desconocida tomó una galera de tipo y la mezcló para hacer un libro de muestras. Ha sobrevivido no solo cinco siglos, sino también el salto a la composición electrónica, permaneciendo esencialmente sin cambios. Se popularizó en la década de 1960 con el lanzamiento de las hojas de Letraset que contienen pasajes de Lorem Ipsum, y más recientemente con software de publicación de escritorio como Aldus PageMaker
					</div>
					<a href="{% url 'quienes_somos' %}" class="ravis-btn btn-type-2">Leer Más..</a>
				</div>
				<div class="r-sec col-md-5">
					<img src="{% static 'img/galeria/fundadores.jpg' %}" alt="Iglesia Fuego Santo">
				</div>
			</div>
		</section>
		<!--End of Welcome Section-->	

	{% endblock contenido2 %}

	{% block contenido3 %}
		<!--Habitaciones-->
		<section id="luxury-rooms" class="clearfix">
			<div class="room-boxes col-sm-6 col-md-4">
				<a href="{% url 'disponibilidad' %}" class="inner-container" data-bg="{% static 'img/galeria/evn1.jpg' %}">
					<span class="ravis-title">
						<span class="inner-box">
							<span class="title">Eventos</span>
							<span class="sub-title">Habitación de uso individual</span>
						</span>
					</span>
				</a>
			</div>
			<div class="room-boxes col-sm-6 col-md-4">
				<a href="{% url 'disponibilidad' %}" class="inner-container" data-bg="{% static 'img/galeria/gal1.jpeg' %}">
					<span class="ravis-title">
						<span class="inner-box">
							<span class="title">Galeria</span>
							<span class="sub-title">Habitación ideal para parejas</span>
						</span>
					</span>
				</a>
			</div>
			<div class="room-boxes col-sm-12 col-md-4">
				<a href="{% url 'disponibilidad' %}" class="inner-container" data-bg="{% static 'img/galeria/evn3.jpg' %}">
					<span class="ravis-title">
						<span class="inner-box">
							<span class="title">Eventos</span>
							<span class="sub-title">Habitación para familias pequeñas</span>
						</span>
					</span>
				</a>
			</div>
		</section>
		<!--End Habitaciones-->

	{% endblock contenido3 %}

			
	{% block contenido4 %}
	<!-- Gallery -->
		<section id="gallery">
			<div class="inner-container container">

				<div class="ravis-title">
					<div class="inner-box">
						<div class="title">Galería</div>
						<div class="sub-title">Te ofrecemos los mejores servicios</div>
					</div>
				</div>

				<!-- Gallery Container -->
				<div class="gallery-container ">
					<div class="sort-section">
						<div class="sort-section-container">
							<div class="sort-handle">Filters</div>
							<ul class="list-inline">
								<li><a href="#" data-filter="*" class="active">Todo</a></li>
								<li><a href="#" data-filter=".restaurant">Galeria</a></li>
								<li><a href="#" data-filter=".rooms">Eventos</a></li>
								<li><a href="#" data-filter=".lobby">Historias</a></li>
							</ul>
						</div>
					</div>
					<ul class="image-main-box clearfix">
						<li class="item col-xs-6 col-md-4 restaurant">
							<figure>
								<img src="{% static 'img/galeria/evn1.jpg' %}" alt="11"/>
								<a href="{% static 'img/galeria/evn1.jpg' %}" class="more-details"
								   data-title="Great View">Enlarge</a>
								<figcaption>
									<h4>Culto Juvenil</h4>
								</figcaption>
							</figure>
						</li>

						<li class="item col-xs-6 col-md-4 lobby">
							<figure>
								<img src="{% static 'img/galeria/evn3.jpg' %}" alt="11"/>
								<a href="{% static 'img/galeria/evn3.jpg' %}" class="more-details"
								   data-title="Instalaciones">Enlarge</a>
								<figcaption>
									<h4>Eventos</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 restaurant">
							<figure>
								<img src="{% static 'img/galeria/gal3.jpg' %}" alt="11"/>
								<a href="{% static 'img/galeria/gal3.jpg' %}" class="more-details"
								   data-title="Cafetería">Enlarge</a>
								<figcaption>
									<h4>Galeria</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 restaurant">
							<figure>
								<img src="{% static 'img/galeria/gal4.jpg' %}" alt="11"/>
								<a href="{% static 'img/galeria/gal4.jpg' %}" class="more-details"
								   data-title="Cafetería">Enlarge</a>
								<figcaption>
									<h4>Cafetería</h4>
								</figcaption>
							</figure>
						</li>
						<li class="item col-xs-6 col-md-4 lobby">
							<figure>
								<img src="{% static 'img/galeria/gal5.jpg' %}" alt="11"/>
								<a href="{% static 'img/galeria/gal5.jpg' %}" class="more-details"
								   data-title="Instalaciones">Enlarge</a>
								<figcaption>
									<h4>Instalaciones</h4>
								</figcaption>
							</figure>
						</li>
						
						<li class="item col-xs-6 col-md-4 rooms">
							<figure>
								<img src="{% static 'img/galeria/gal6.jpg' %}" alt="11"/>
								<a href="{% static 'img/galeria/gal6.jpg' %}" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
								<figcaption>
									<h4>Habitaciones</h4>
								</figcaption>
							</figure>
						</li>

					</ul>	
					<a href="{% url 'galeria' %}" class="gallery-more-btn ravis-btn btn-type-2">Más ...</a>
				</div>
			</div>
		</section>
		<!-- End of Gallery -->

			
	{% endblock contenido4 %}




	<!--Footer Section-->
	{% block footer %}

	<footer id="main-footer">
		<div class="inner-container container">
			<div class="t-sec clearfix">
				<div class="widget-box col-sm-8 col-md-5">
					<a href="#" id="t-logo">
						<img align= "right" class="img-responsive" src="{% static 'img/logo/logo.jpeg'%}">
					</a>
				
					</div>
					
				
					<div class="widget-box col-sm-7 col-md-4">
						<h4 class="title">Contactos</h4>
						<div class="widget-content contact">
							<ul class="contact-info">
								<li>
									<i class="fa fa-home"></i>
									Forestal: Av Chican & Yangana
								</li>
								<li>
									<i class="fa fa-phone"></i>
									(+593) 999-999999
									(+593) 2212-651
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									info@fuegosanto.ec
								</li>
							</ul>
						</div>
					</div>
				<div class="widget-box col-sm-6 col-md-3">
					<h4 class="title">Encuéntranos en:</h4>
					<div class="widget-content contact">
						<ul class="social-icons list-inline">
							<li>
							 	<a href="https://www.facebook.com/fuegosanto.iglesia?eid=ARARgw0_fTrXIDWfnD6p6mq_BXcatoVA2jPYS4ZyNaGM1mDzfweV8O-9pMRyojjjg8J-aEau_-waTRIv" target="_blank">
								<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="https://twitter.com/Hotel_Villonaco" target="_blank">
								<i class="fa fa-twitter"></i>
								</a>
							</li>
							
							</ul>
						</div>
					</div>
				</div>
				<div class="b-sec clearfix">
					<div class="contact-info">
					 <li>
						<i class="fa fa-envelope"></i>
							info@fuegosanto.ec
					</li>
					
				</div>
			</div>
		</footer>
		
	{% endblock footer %}
	<!--End of Footer Section-->
	</div>
</body>
{% endblock body %}


	

