{% extends 'administration/base.html' %}
{% load staticfiles %}
{% block title %}
Nuevo Tipo de habitación
{% endblock title%}
{% block estilos%}

{% endblock estilos%}

{% block scripts %}
    <script src="{% static 'admin/js/form.js' %}"></script>
{% endblock scripts %}


{% block contenido1 %}

<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

    <form class="well form-horizontal" action="{% url 'crear_tipohabitacion' %}" enctype="multipart/form-data" method="POST"  id="contact_form">
    {% csrf_token %} 
<fieldset>

<!-- Form Name -->
<legend>Nuevo Tipo de Habitación</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Imagen</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <input name="imagen" type="file">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Nombre</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-bed"></i></span>
  <input name="nombre" placeholder="Nombre"  class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Precio</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-money"></i></span>
  <input name="precio" placeholder="Precio"  class="form-control"  type="number" step ="0.01">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Nro. Personas</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-users"></i></span>
  <input name="personas" placeholder="Nro. Personas"  class="form-control" type="number" min="1" step="1">
    </div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Guardar <span class="glyphicon glyphicon-floppy-disk"></span></button>
  </div>
</div>


</fieldset>
</form>
</div>
    </div><!-- /.container -->

  {% endblock contenido1 %}

</div>
</div>
