{% extends 'administration/base.html' %}
{% load staticfiles %}
{% block title %}
Nuevo Servicio
{% endblock title%}
{% block estilos%}

{% endblock estilos%}

{% block scripts %}
    <script src="{% static 'admin/js/form.js' %}"></script>
{% endblock scripts %}


{% block contenido1 %}

<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

    <form class="well form-horizontal" action="{% url 'crear_servicio'%}" enctype="multipart/form-data" method="POST"  id="contact_form">
    {% csrf_token %} 
<fieldset>

<!-- Form Name -->
<legend>Nuevo Servicio</legend>


<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Nombre</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="ravis-icon-hotel-food-cart"></i></span>
  <input name="nombre" placeholder="Nombre"  class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Precio</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-money"></i></span>
  <input name="precio" placeholder="Precio"  class="form-control"  type="number" step ="0.01">
    </div>
  </div>
</div>


<div class="form-group">
                        <label class="col-md-4 control-label"> Estado</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="estado" value="DISPONIBLE" /> DISPONIBLE
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="estado" value="NODISPONIBLE" /> NO DISPONIBLE
                                </label>
                            </div>
  
                        </div>
                    </div>

<!-- Select Basic -->

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Guardar <span class="glyphicon glyphicon-floppy-disk"></span></button>
  </div>
</div>


</fieldset>
</form>
</div>
    </div><!-- /.container -->

  {% endblock contenido1 %}

</div>
</div>
