{% extends 'administration/base.html' %}
{% load staticfiles %}
{% block title %}
Galería
{% endblock title%}
{% block scripts %}
    

{% endblock scripts %}

<body>
<div class="wrapper">
   {% block contenido1 %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Galería</h4>
                                <a href="{% url 'crear_tipohabitacion' %}" id="header-admin" class="ravis-btn btn-type-2">NUEVA</a>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped" id="myTable">
                                    <thead>
                                    	<th>Nombre</th>
                                        <th>Acción</th>
                                    </thead>
                                    <tbody>
                                    {% for objeto in listagaleria %}
                                        <tr>
                                            
                                        	<td>{{objeto.nombre_imagen}}</td>
                                            <td>
                                              <a a title="Editar"  href="{% url 'obtener_galeria' pk=objeto.id_galeria %}"> <span class="glyphicon glyphicon-edit"></span></a>
                                              <a a title="Dar de Baja" href="#"> <span class="glyphicon glyphicon-remove"></span></a>    
                                            </td>
                                        </tr>
                                    {% endfor %}
                                       
                                    </tbody>
                                </table>

                            </div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
</script>
                        </div>
                    </div>
    {% endblock contenido1 %}

    </div>
</div>
</body>


